body{
    background-color: #3C3F58;
    opacity: 0.8;  
}
header{
    position: relative;
}
section{
    width: 100%;
}
.itemNavHover:hover{
    margin-right: 1.5em;
    margin-left: 1.5em;
}
#backgroundImage{
    background-image: url('Pictures/me.png');
    height: 50em;
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
    margin-bottom:10em;
}
#resumeButton{
    background-color: #3BBA9C;
    color: #3C3F58;
    border: none;
    height: 2em;
    border-radius: 1em;
    margin-left: 76em;
    margin-bottom: 8em;
    position: absolute;
    bottom: .25rem;   
}
#education{
    background-color: #3BBA9C;
    color: #2E3047;;
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.educationCard{
    box-shadow: 0em 2em 4em 0em #707793;
    transition: 0.3s;
    width: 45%;
}
.educationCard:hover{
    box-shadow:1em 4em 8em 1em #3C3F58;
}
.eductionDesc{
    text-align: center;
}
.educationCertificateImg{
    height: 20em;
    width: 100%;
    border-radius: 3em;
}
#skills{
    background-color: #2E3047;
    color:#3BBA9C ;
    padding: 1em;
    display: grid;
}
.technicallRowGrid{
    border: 0em solid #3BBA9C;
    background-color: #3C3F58;
    display: grid;
    column-gap:3em ;
    grid-template-columns: auto auto auto auto;
    row-gap: 2em;
    text-align: center;
}
#certificate{
    display: flex;   
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #3BBA9C;
    color: #3BBA9C;
}
.myCertificate{
    border: 2px solid #3C3F58;
    background-color: #3C3F58;
    width: 30%;
    height: 25em;
    margin-top: 2em;
    padding: 5em;   
}
.certificateImg{
    height: 10em;
    width:15em;
    border-radius: 3em;
    justify-content: center; 
    justify-content: space-around;
}   
#references{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2E3047;
    color: #3BBA9C;
    padding: 5em;
    width: 100%; 
}
.refrencesImg{
    border: 1px solid black;
    width:19%;
    border-radius: 50%; 
}
.references-div{
    width: 29%;  
}
#referenesIcon{
     color: #3BBA9C; 
     font-size:xx-large;
     margin-top: 1em;
}
#language{
    background-color: #3BBA9C;
    color: #2E3047;
    display: flex;
}
#languageStar{
    color: #2E3047; 
    font: size 5em;
    margin-left: 8px;
}
.lang {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    margin-left: 8%;
}
#englishCard{
    width:100%;
    padding: 3em 0;
    margin-top: 4em 1em;       

}

